<mat-toolbar>
  <span>192</span>
  <span class="spacer"></span>

  @if (authService.checkAuthStatus() | async) {
  <button
    mat-button
    aria-label="Botão Agendar Consulta"
    routerLink="/appointments/create"
  >
    Agendar Consulta
  </button>
  <button
    class="me-5"
    mat-button
    aria-label="Botão listar consultas"
    routerLink="/appointments"
  >
    Consultas
  </button>

  <button
    mat-flat-button
    aria-label="Botão login"
    color="primary"
    (click)="authService.logout()"
  >
    Logout
  </button>
  } @else {
  <button
    mat-flat-button
    aria-label="Botão login"
    color="primary"
    routerLink="/auth/login"
  >
    Login
  </button>
  }
</mat-toolbar>
